<div id="title">
  <h1>{{ title }}</h1>
  <hr />
  <h2>{{ subtitle }}</h2>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus
    posuere mauris. Nullam malesuada dictum mattis. Fusce non vestibulum odio.
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris a mi ac dolor elementum ornare. Proin dignissim auctor
    turpis vitae imperdiet. Morbi sagittis scelerisque velit, ut vulputate felis
    congue ut. In hac habitasse platea dictumst. Vivamus id venenatis tellus, ut
    efficitur urna. Integer vehicula tellus at justo maximus tempus quis id
    ligula. Curabitur tincidunt sed mauris vel viverra. Mauris pellentesque
    bibendum sem ut scelerisque. Nulla facilisi.
    
      Suspendisse potenti. Sed
    dapibus est condimentum dolor pulvinar, et efficitur eros bibendum. Integer
    congue diam quis justo ornare aliquet. Cras eget turpis malesuada, varius
    diam vel, mollis velit. Phasellus lectus mauris, rhoncus vitae eros id,
    tincidunt suscipit nunc. Maecenas accumsan, neque ut gravida fringilla, est
    magna elementum odio, eget malesuada justo nisi in justo. Vivamus ac
    eleifend tortor. Phasellus fringilla, erat a laoreet viverra, lectus turpis
    aliquet ligula, a commodo tortor neque a eros. Donec commodo pulvinar ante
    sit amet tincidunt. Nunc ultrices porta purus, sed posuere urna tincidunt
    id. Nam mattis ornare rutrum. Etiam interdum interdum libero, in dignissim
    leo viverra ac. Curabitur semper vel orci sed lobortis. Etiam pretium
    aliquam commodo. Aenean eget ex ex.
  </p>
</article>
